<!DOCTYPE html>

<html>
	<head>
		<title>My Goals</title>
		<!-- Import CSS -->
		<link type="text/css" rel="stylesheet" href="css/main.css">

		<style>
			.block-ltg {
				border: 5px solid black;
				border-radius: 15px;
				width: 80%;
				font-size: 80%;
				padding: 10px;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.block-ltg:hover {
				background-color: black;
				color: white;
			}
		</style>
	</head>

	<body>
		<div class="container-body-page">
			<div class="header-page">
				<table>
					<tr>
						<td class="cell-header"><h1>GOALS</h1></td>
						<td><a href="index"><p>Logout</p></a></td>
						<td><a href="settings"><img class="icon-settings" src="images/settings.png" alt="settings"></a></td>
					</tr>
				</table>
			</div>

			<div class="container-content-main">
				{{#each ltg}}
				<div class="block-ltg" onclick="toggleWeeklyGoals(this)">
					<h3>{{goal}}</h3>
				</div>
				{{/each}}
			</div>

			<div class="navbar">
				<table>
					<tr>
						<td><a href="/"><button>Stream</button></a></td>
						<td><a href="/respects"><button>Respects</button></a></td>
						<td><a href="/goals"><button>Goals</button></a></td>
						<td><a href="/manage"><button>Manage</button></a></td>
					</tr>
				</table>
			</div>
		</div>
		<script>
 			
 			function showWeeklyGoal(LtgDiv) {
 				$("#" + LtgDiv.id).after("<p>" + hi[LtgDiv.id]  + "</p>");
 			}
 		</script>

		<script src="js\jquery-1.11.0.js"></script>
		<script>
			$(".block-ltg").click(function() {
				toggleWeeklyGoals(this);
			});
		</script>
		<script>
		function toggleWeeklyGoals(LtgDiv){
			// $("#" + LtgDiv.id).after("<p>" + {{description}} [LtgDiv.id] +<"/p>");
		}
	</body>
</html>