<!DOCTYPE html>

<html>
	<head>
		<title>Accomplishments Stream</title>
		<!-- Import CSS -->
		<link type="text/css" rel="stylesheet" href="css/main.css">
	</head>
<style>
		#header {
			text-align: center;
			background-color:#43f2b6;
			top:0;
			width:100%;
			-webkit-box-shadow: 0px 0px 4px 0px #000000;
			-moz-box-shadow: 0px 0px 4px 0px #000000;
			box-shadow: 0px 0px 4px 0px #000000;
			color:white;
			z-index:3333;
			position:fixed;
			left:0px;
		}
		#header * {
				margin-right: 10px;
			}
			#header table {
				width: 100%;
			}

			#header #cell-header {
				width: 80%;
				font-size: 50%;
				color: white;
				f
			}

			#header img {
				width: 20px;
			}

			#header p {
				margin-top: 2px;
				color: black;
			}
	</style>
	<body>
		<div class="container-body-page">
			<div class="header-page">
				<table>
					<tr>
						<td class="cell-header"><h1>RESPECTS</h1></td>
						<td><a href="index"><p>Logout</p></a></td>
						<td><a href="settings"><img class="icon-settings" src="images/settings.png" alt="settings"></a></td>
					</tr>
				</table>
			</div>

			<div class="container-content-main">

			<!-- start stream-->

			{{#each respectstream}}
			<div class="respectentry-container"> 
				<div class="respecticon">
					Respect
				</div>
				<div class="respectentry-top">
					16h
				</div>
				<div class="respectentry-bottom">
					You got a respect for:
					<p>{{description}}</p>
				</div>



			</div>
			<hr>
			{{/each}}

			<!-- end stream-->
			</div>
			
			<div class="navbar">
				<table id="navbar">
					<tr>
						<td><a href="/"><button id="accomplishments" type="button" class='navigation' style>Accomplishments</button></a></td>
						<td><a href="/respects"><button id="respects" type="button" class='navigation'>Respects</button></a></td>
						<td><a href="/goals"><button id="goalList" class = 'navigation'>Goals</button></a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>