<!DOCTYPE html>

<html>
	<head>
		<title>My Goals</title>
		<!-- Import CSS -->
		<link type="text/css" rel="stylesheet" href="css/main.css">

		<style>
			.block-ltg {
				border: 5px solid black;
				border-radius: 15px;
				width: 80%;
				font-size: 80%;
				padding: 10px;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.block-ltg:hover {
				background-color: black;
				color: white;
			}
		</style>
	</head>

	<body>
		<div class="container-body-page">
			<div class="header-page">
				<table>
					<tr>
						<td class="cell-header"><h1>SETTINGS</h1></td>
						<td><a href="index"><p>Logout</p></a></td>
						<td><a href="settings"><img class="icon-settings" src="images/settings.png" alt="settings"></a></td>
					</tr>
				</table>
			</div>

			<div class="container-content-main">
			</div>

			<div class="navbar">
				<table id="navbar">
					<tr>
						<td><a href="/"><button id="accomplishments" type="button" class='navigation' style>Accomplishments</button></a></td>
						<td><a href="/respects"><button id="respects" type="button" class='navigation'>Respects</button></a></td>
						<td><a href="/goals"><button id="goalList" class = 'navigation'>Goals</button></a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>