<!DOCTYPE html>

<html>
	<head>
		<title>Accomplishments Stream</title>

		<!-- Import CSS -->
		<link type="text/css" rel="stylesheet" href="css/main.css">

		<style>
			/* Center all content on the page */
			.block-stream, .block-stream * {
				text-align: left;
			}
		</style>
	</head>

	<body>
		<div class="container-body-page">
			<div class="header-page">
				<table>
					<tr>
						<td class="cell-header"><h1>ACCOMPLISHMENTS</h1></td>
						<td><a href="index"><p>Logout</p></a></td>
						<td><a href="settings"><img class="icon-settings" src="images/settings.png" alt="settings"></a></td>
					</tr>
				</table>
			</div>

			<div class="container-content-main">
				<div class="block-stream">
					<table>
						{{#each accomplishments}}
						<tr>
							<td><p>{{name}} completed a {{goal_type}}: "{{goal}}"</p></td>
							<td><button>Respect</button></td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>

			<div class="navbar">
				<table>
					<tr>
						<td><a href="/"><button>Stream</button></a></td>
						<td><a href="/respects"><button>Respects</button></a></td>
						<td><a href="/goals"><button>Goals</button></a></td>
						<td><a href="/manage"><button>Manage</button></a></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>