/* CSS styles applied to entire app */

body {
	background-color: #ffd700;
}

/* Center all content on the page */
.container-body-page, .container-body-page * {
	margin: auto;
	text-align: center;
}

.header-page {
	border-bottom: 2px solid black;
	background-color: #6495ed;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.cell-header {
	width: 100%;
}

.cell-header h1 {
	color: white;
}

.icon-settings {
	 width: 20px;
}

.container-content-main {
	margin-top: 60px;
	margin-bottom: 20px;
}

#navbar {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
#navbar button {
	width: 100%;
	height:50px;
	margin-left:0px;
	margin-right: 0px;
	font-size: 80%;
	font-weight: 400px;
	background-color:#6495ed;
	border-left: 200px;
}

#linebreak {
	position: relative;
	height: 50px;
}